{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login Page</title>
{% endblock %}


{% block content %}
    <h1 style="text-align:center;">Login Page</h1>
    <form method="post" style="width:50%; margin-left:25%;">
        {% csrf_token %}
        <label>Enter Username:</label><br>
        <input type="text" name="un" class="form-control"><br><br>
        <label>Enter Password:</label><br>
        <input type="password" name="pw" class="form-control"><br><br>
        <input type="submit" value="Login" class="btn btn-success">
        <a href="{% url 'register' %}">Create an account?</a>
    </form>
{% endblock %}