{% extends "layout.html" %}
{% block title %}
    <title>Show Shoes</title>
{% endblock %}


{% block content %}
    <table class="table table-dark table-striped" style="width:80%; margin-left:10%;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Color</th>
            <th>Gender</th>
            <th>Size</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for shoe in shoes_obj_qs %}
            <tr>
                <td>{{shoe.id}}</td>
                <td>{{shoe.name}}</td>
                <td>{{shoe.brand}}</td>
                <td>{{shoe.category}}</td>
                <td>{{shoe.color}}</td>
                <td>{{shoe.gender}}</td>
                <td>{{shoe.size}}</td>
                <td>{{shoe.stock}}</td>
                <td>{{shoe.price}}</td>
                <td><a href="{% url 'update-shoes' shoe.id %}"><button class="btn btn-warning">Update</button></a></td>
                <td><a href="{% url 'delete-shoes' shoe.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'add-shoes' %}"><button class="btn btn-primary" style="margin-left:45%;">Add Shoes</button></a>
{% endblock %}